body{
    background-color: #011627;
    color: #FDFFFC;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 5px 20px;
    background-color: #2EC4B6;
    border-style: none;
}
input{
    height: 20px
}
